*{
    margin: 0%;
    padding: 0%;
}
#parrafo-cont{
    font-family: 'Square Peg', cursive;
    font-size: 200%;
    padding: 9% 0% 0% 0%;
}

.login{
    float: right;
    border-radius: 40%;
}

button{
    margin-top: 1rem;
    border: 0.8rem 0.8rem;
    border-radius: 1.5rem;
    border-color: black;
    background-color: #49C7AB;

}

#rounder{
  
    border: 0.8rem 0.8rem;
    border-radius: 1.5rem;
    border-color: black;
    background-color: #49C7AB;
}
.navbar{
    position: fixed;
    top:0;
    width:100%;
}
